<!--The client creates a div that will handle the display for the sign in screen-->

<div id="signInDiv" style="text-align: center; font-family: 'Algerian'; font-size: 60px">
  <body style="background-image: url(/client/img/maps/outdoors.png);">
  <p style="color: white">Username</p>
	<input id ="nameDiv" type="text" style="width: 300px;height: 50px;font-size: 30px;"</input><br/>
  <p style="color: white">Password</p>
	<input id ="passDiv" type="password" style="width: 300px;height: 50px;font-size: 30px;"</input><br/>
	<button id="signIn">Sign In</button>
	<button id="signUp">Sign Up</button>
  </body>
</div>
<!--The client creates a div that will handle the display for the sign in screen-->
<div id="charSelect" style="display:none">
<p style="font-family: 'Algerian';font-size: 60px; position:absolute;right:275px;top:-20px;">SELECT YOUR CHARACTER</p>
<!--The client displays the images of the characters to choose from and listens for interactions with the characters-->
<img id="wizSel" onclick="CharSelected(this)" onmouseout="mouseOff(this)" onmouseover="mouseOver(this)" src="/client/img/wizard.png" style="border:10px solid #000000;position:absolute;right:900px;top:150px;" width="216" height="424">
<img id="pirSel" onclick="CharSelected(this)" onmouseout="mouseOff(this)" onmouseover="mouseOver(this)" src="/client/img/pirate.png" style="border:10px solid #000000;position:absolute;right:100px;top:150px;" width="216" height="424">
<img id="ogreSel" onclick="CharSelected(this)" onmouseout="mouseOff(this)" onmouseover="mouseOver(this)" src="/client/img/ogre.png" style="border:10px solid #000000;position:absolute;right:500px;top:150px;" width="216" height="424">
</div>
<!--The client creates a div that will handle the display of the gameplay-->
<div id="gameOn" style="display:none">
<!--The a canvas is created that will display anything happening in game-->
<canvas id="myCanvas" onclick="attackOn(event)" width="640"height="480" style="border:10px solid #000000;"></canvas>
<!--An image containing the attackbar is created-->
<img id="attackBar" style="position:absolute;right:850px;top:10px;height:500px">
<!--The rectangles listening for attacks are created-->
<div id="attack1" onclick="attack1()" style="width:72px;height:115px;position:absolute;right:850px;top:10px;border-style: solid;border-width: 5px;border-color: yellow;"></div>
<div id="attack2" onclick="attack2()" style="width:72px;height:115px;position:absolute;right:850px;top:130px;"></div>
<div id="attack3" onclick="attack3()" style="width:72px;height:115px;position:absolute;right:850px;top:250px;"></div>
<div id="attack4" onclick="attack4()" style="width:72px;height:125px;position:absolute;right:850px;top:370px;"></div>
<!--A div is created that contains the chat box-->
<div id="chatBox" style="width:500px;height:100px;overflow-y:scroll"></div>
<form id="form">
	<input id="inputBox" type="text" style="width:500px"></input>
</form>
</div>
<!--The client retrieves the socket.io items that it needs to communicate from the server
from a content delivery network
-->
<script
src = "https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
//The client runs the io function contained within the items from the content delivery network and stores the
//output in the socket variable.(No parameters in the io function will autodiscover the server to connect to)
var socket = io();
socket.on("connectionCheck",function(data){
  console.log(data);
});
var attackBar = document.getElementById("attackBar");
var attackOne = document.getElementById("attack1");
var attackTwo = document.getElementById("attack2");
var attackThree = document.getElementById("attack3");
var attackFour = document.getElementById("attack4");
//The game creates a variable that stores the sign up button element
var signUp = document.getElementById("signUp");
//The client emits a sign up request to the server containing the username and the password the player has entered
signUp.onclick = function(){
	socket.emit("signUpReq",{username:nameDiv.value,password:passDiv.value});
}
//The game creates a variable that stores the sign in button element
var signIn = document.getElementById("signIn");
//The client emits a sign in request to the server containing the username and the password the player has entered
signIn.onclick = function(){
	socket.emit("signInReq",{username:nameDiv.value,password:passDiv.value});
}
//The client listens for the sign up confirmation message from the server
socket.on("signUpConf",function(data){
  //The user will be informed if their sign in was successful or not.
	if(data.success)
		alert("You have been successfully registered")
	else {
		alert("The username you have entered has already been taken")
	}
});
//The client listens for the sign in confirmation message from the server.
socket.on("signInConf",function(data){
  //The user will be informed if the sign in was successful
	if(data.success === true){
    //The client's system will see if the user has previously selected a character or not
    if(data.selected === false){
      //The client will stop displaying the log in screen
			signInDiv.style.display = "none";
      //The client will display the character selection screen
			charSelect.style.display = "inline-block";
      //The client will remove the background of the log in screen
      document.body.style.backgroundImage = "";
		}
		else{
      //The client stops displaying the sign in screen
			signInDiv.style.display = "none";
      //The client begins to display the in game screen.
      gameOn.style.display = "inline-block";
      //The client will remove the background of the log in screen
      document.body.style.backgroundImage = "";
		}

	}
  //the user will be informed if they sign in incorrectly
	else if(data.success === false) {
		alert("There was an error signing in did you enter an incorrect username or password?")
	}
  //The user will be informed if they are attempting to access an account that is in use
	else{
		alert("Someone else is currently using this account.")
	}
});
//The client recieves their own id
var ownID = 0;
socket.on("idSend",function(data){
	ownID = data;
});
//The mousOver function is created
function mouseOver(data){
  //The color of the border of the image is changed when the mouse is over the image
	data.style.border = "10px solid #FF0000";
}
//The mouseOff function is created
function mouseOff(data){
  //The color of the border of the image is reset when the mouse is over the image
	data.style.border = "10px solid #000000";
}
var attack = "attack1";
//The attack1 function is created
function attack1(){
  attackOne.style.border = "5px solid yellow";
  attackTwo.style.border = "0px solid yellow";
  attackThree.style.border = "0px solid yellow";
  attackFour.style.border = "0px solid yellow";
  attack = "attack1";
  if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
    socket.emit("armourOn");
    socket.emit("speedOff");
  }
}
//The attack2 function is created
function attack2(){
  attackTwo.style.border = "5px solid yellow";
  attackOne.style.border = "0px solid yellow";
  attackThree.style.border = "0px solid yellow";
  attackFour.style.border = "0px solid yellow";
  attack = "attack2";
  //Tells the server to trun off the ogres armour
  if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
    socket.emit("armourOff");
    socket.emit("speedOff");
  }
}
//The attack3 function is created
function attack3(){
  attackThree.style.border = "5px solid yellow";
  attackTwo.style.border = "0px solid yellow";
  attackOne.style.border = "0px solid yellow";
  attackFour.style.border = "0px solid yellow";
  attack = "attack3";
  //Tells the server to trun off the ogres armour
  if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
    socket.emit("armourOff");
    socket.emit("speedOn");
  }
}
//The attack4 function is created
function attack4(){
  attackFour.style.border = "5px solid yellow";
  attackTwo.style.border = "0px solid yellow";
  attackThree.style.border = "0px solid yellow";
  attackOne.style.border = "0px solid yellow";
  attack = "attack4";
  //Tells the server to trun off the ogres armour
  if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
    socket.emit("armourOff");
    socket.emit("speedOff");
  }
}
//The attack function is created
function attackOn(event){
  if(attack === "attack1"){
    //The client calculates the angle at which the attack should travel
    opp = event.pageY - mapHeight/2 -7;
    adj = event.pageX - mapWidth/2 -8;
    angle = Math.atan2(opp,adj);
    if(attackBar.src === "http://localhost:2000/client/img/wizardBar.png"){
    	socket.emit("fireball",angle);
    }
    if(attackBar.src === "http://localhost:2000/client/img/pirateBar.png"){
      socket.emit("slash",{angle,state:"poison"});
    }
    if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
      socket.emit("slash",{angle,state:"armour"});
    }
  }
  if(attack === "attack2"){
    //The client calculates the angle at which the attack should travel
    opp = event.pageY - mapHeight/2 -7;
    adj = event.pageX - mapWidth/2 -8;
    angle = Math.atan2(opp,adj);
    if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
      socket.emit("slash",{angle,state:"rage"});
    }
    if(attackBar.src === "http://localhost:2000/client/img/pirateBar.png"){
      socket.emit("dagger",angle);
    }
    if(attackBar.src === "http://localhost:2000/client/img/wizardBar.png"){
      socket.emit("lightning",angle);
    }
  }
  if(attack === "attack3"){
    //The client calculates the angle at which the attack should travel
    opp = event.pageY - mapHeight/2 -7;
    adj = event.pageX - mapWidth/2 -8;
    angle = Math.atan2(opp,adj);
    if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
      socket.emit("slash",{angle,state:"speed"});
    }
    if(attackBar.src === "http://localhost:2000/client/img/pirateBar.png"){
      socket.emit("slash",{angle,state:"manaSlash"});
    }
    if(attackBar.src === "http://localhost:2000/client/img/wizardBar.png"){
      socket.emit("freeze");
    }
  }
  if(attack === "attack4"){
    //The client calculates the angle at which the attack should travel
    opp = event.pageY - mapHeight/2 -7;
    adj = event.pageX - mapWidth/2 -8;
    angle = Math.atan2(opp,adj);
    if(attackBar.src === "http://localhost:2000/client/img/ogreBar.png"){
      socket.emit("heal");
    }
    if(attackBar.src === "http://localhost:2000/client/img/pirateBar.png"){
      socket.emit("boom");
    }
    if(attackBar.src === "http://localhost:2000/client/img/wizardBar.png"){
      socket.emit("teleport",{y:event.pageY - mapHeight/2,x:event.pageX - mapWidth/2});
    }
  }
}
socket.on("charSend",function(data){
  if(data === "/client/img/pirate.png"){
    attackBar.src = "/client/img/pirateBar.png";
  }
  if(data === "/client/img/ogre.png"){
    attackBar.src = "/client/img/ogreBar.png";
    socket.emit("armourOn");
  }
  if(data === "/client/img/wizard.png"){
    attackBar.src = "/client/img/wizardBar.png";
  }
});

//The CharSelected function is created
function CharSelected(data){
  //The char variable is created and is set at 1
	var char = 1;
  //If the pirate image is clicked char will be set to 2
	if (data.id === "pirSel"){
		char = 2;
	}
  //If the ogre image is clicked char will be set to 3
	if (data.id === "ogreSel"){
		char = 3;
	}
  //The client sends a message to the server with which character has been selected
	socket.emit("CharSelected",char);
  //The client stops displaying the character selection screen
	charSelect.style.display = "none";
  //The client begins to display the in game screen.
  gameOn.style.display = "inline-block";
}
//The client stores the canvas html element as a variable
var canvas = document.getElementById("myCanvas").getContext("2d");
//The client stores the map image as a variable
var map = new Image();
map.src = "/client/img/maps/outdoors.png";
//The client stores the fireball image as a variable
var fireball = new Image();
fireball.src = "/client/img/fireball.png";
//The client stores the slash image as a variable
var slash = new Image();
slash.src = "/client/img/cut.png";
//The client stores the dagger image as a variable
var dagger = new Image();
dagger.src = "/client/img/dagger.png";
//The client stores the width and the height of the map
var mapHeight = 480;
var mapWidth = 640;
//The client creates the values that it uses to store information on the drawing of items
var ownIndex = 0;
var xDraw = 0;
var yDraw = 0;
//The client runs a procedure upon recieving the update message from the server
socket.on("update",function(data){
  //The client clear's the screen when the update function is called
  canvas.clearRect(0,0,640,480);
  //The client iterates through each item in the playerPack
  for(var i = 0; i < data.playerPack.length; i++){
    //The client looks for the index of the item in the playerPack containing their information
    if(data.playerPack[i].socID === ownID){
      //The client draws the map at a psoition relative to the player
      canvas.drawImage(map, mapWidth/2 - data.playerPack[i].x, mapHeight/2 - data.playerPack[i].y);
      ownIndex = i;
    }
  }
  //The client displays any fireballs on the screen
  for(var i = 0; i < data.fireballList.length; i++){
    canvas.drawImage(fireball, mapWidth/2 + data.fireballList[i].x - data.playerPack[ownIndex].x, mapHeight/2 + data.fireballList[i].y - data.playerPack[ownIndex].y, 54, 54);
  }
  //The client displays any freeze attacks on the screen
  for(var i = 0; i < data.freezeList.length; i++){
    canvas.beginPath();
    canvas.fillStyle = "rgba(0, 0, 255, 0.5)";
    canvas.arc(mapWidth/2 + data.freezeList[i].x - data.playerPack[ownIndex].x + 27 ,mapHeight/2 + data.freezeList[i].y - data.playerPack[ownIndex].y + 53,150,0,2*Math.PI);
    canvas.fill();
  }
  //The client displays any slashes on the screen
  for(var i = 0; i < data.slashList.length; i++){
    canvas.drawImage(slash, mapWidth/2 + data.slashList[i].x - data.playerPack[ownIndex].x, mapHeight/2 + data.slashList[i].y - data.playerPack[ownIndex].y, 108, 54);
  }
  //The client displays any daggers on the screen
  for(var i = 0; i < data.daggerList.length; i++){
    canvas.drawImage(dagger, mapWidth/2 + data.daggerList[i].x - data.playerPack[ownIndex].x, mapHeight/2 + data.daggerList[i].y - data.playerPack[ownIndex].y, 20, 54);
  }
  for(var i = 0; i < data.lightningList.length; i++){
    canvas.beginPath();
    canvas.moveTo(mapWidth/2 + data.lightningList[i].x1 - data.playerPack[ownIndex].x,mapHeight/2 + data.lightningList[i].y1 - data.playerPack[ownIndex].y);
    canvas.lineTo(mapWidth/2 + data.lightningList[i].x2 - data.playerPack[ownIndex].x,mapHeight/2 + data.lightningList[i].y2 - data.playerPack[ownIndex].y);
    canvas.lineTo(mapWidth/2 + data.lightningList[i].x3 - data.playerPack[ownIndex].x,mapHeight/2 + data.lightningList[i].y3 - data.playerPack[ownIndex].y);
    canvas.lineTo(mapWidth/2 + data.lightningList[i].x4 - data.playerPack[ownIndex].x,mapHeight/2 + data.lightningList[i].y4 - data.playerPack[ownIndex].y);
    canvas.lineTo(mapWidth/2 + data.lightningList[i].x5 - data.playerPack[ownIndex].x,mapHeight/2 + data.lightningList[i].y5 - data.playerPack[ownIndex].y);
    canvas.lineTo(mapWidth/2 + data.lightningList[i].x6 - data.playerPack[ownIndex].x,mapHeight/2 + data.lightningList[i].y6 - data.playerPack[ownIndex].y);
    canvas.lineTo(mapWidth/2 + data.lightningList[i].x7 - data.playerPack[ownIndex].x,mapHeight/2 + data.lightningList[i].y7 - data.playerPack[ownIndex].y);
    canvas.lineWidth = 5;
    canvas.strokeStyle="blue";
    canvas.stroke();
  }
  //The client iterates through the information on each client
  for(var i = 0; i < data.playerPack.length; i++){
    //The client creates a variable that will contain a character to be drawn on the canvas
    var Character = new Image();
    Character.src = data.playerPack[i].char;
    xDraw = mapWidth/2 + data.playerPack[i].x - data.playerPack[ownIndex].x;
    yDraw = mapHeight/2 + data.playerPack[i].y - data.playerPack[ownIndex].y;
    //The client draws the characters on the screen
    canvas.drawImage(Character, xDraw , yDraw, 54, 106);
    //The client draws a rectange above each player representing their health
    canvas.beginPath();
    canvas.fillStyle = "red";
    canvas.rect(xDraw - data.playerPack[i].healthFill/2, yDraw - 10, data.playerPack[i].healthFill, 10);
    canvas.fill();
    canvas.beginPath();
    canvas.fillStyle = "blue";
    canvas.rect(xDraw - data.playerPack[i].manaFill/2, yDraw - 25, data.playerPack[i].manaFill, 10);
    canvas.fill();
  }

});
var chatBox = document.getElementById("chatBox");
var inputBox = document.getElementById("inputBox");
var chatForm = document.getElementById("form");
//Upon recieving a message from another client it will be displayed in the chat box
socket.on("textRecieved",function(data){
	chatBox.innerHTML += "<div>"+data+"</div>";
});
//The client runs  function that will send the vale of the input field to the server
chatForm.onsubmit = function(p){
	p.preventDefault();
	socket.emit("msgSent",inputBox.value);
	inputBox.value = " ";
}
//The client listens for a keypress
document.onkeydown = function(event){
  //sends a message to the client if the d key is pressed
	if(event.keyCode === 68)
		socket.emit("keypress",{inputID:"right",state:true});
  //sends a message to the client if the a key is pressed
	else if(event.keyCode === 65)
		socket.emit("keypress",{inputID:"left",state:true});
  //sends s message to the client if the d key is pressed
	else if(event.keyCode === 83)
		socket.emit("keypress",{inputID:"down",state:true});
  //sends w message to the client if the d key is pressed
	else if(event.keyCode === 87)
		socket.emit("keypress",{inputID:"up",state:true});
}
//The client listens for a key being brought up
document.onkeyup = function(event){
  //sends w message to the client if the d key is released
	if(event.keyCode === 68)
		socket.emit("keypress",{inputID:"right",state:false});
  //sends w message to the client if the a key is released
	else if(event.keyCode === 65)
		socket.emit("keypress",{inputID:"left",state:false});
  //sends w message to the client if the s key is released
	else if(event.keyCode === 83)
		socket.emit("keypress",{inputID:"down",state:false});
  //sends w message to the client if the w key is released
	else if(event.keyCode === 87)
		socket.emit("keypress",{inputID:"up",state:false});
}
</script>
